[ ca ]
default_ca      = CA_default

[ CA_default]
dir             = ../../certs # helper variable pointing to ca specific files

[ req ]
default_bits       = 2048
default_keyfile    = root.key
distinguished_name = req_distinguished_name
x509_extensions    = v3_ca
prompt             = no


[ req_distinguished_name ]
C  = US
ST = California
L  = San Francisco
O  = Example Corp
OU = Example Root CA
CN = Example Root Certificate

[ v3_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:TRUE
keyUsage = critical, digitalSignature, cRLSign, keyCertSign
